@import controllers.usermgmt._

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Logout</title>
    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logout.css")">
    </head>
    <body>
       <div id="logout">
		   <form action="/logout" method="post">
			   <p>
			   Are you sure you want to logout?
			   </p>

			   <div>
				   <input type="submit" value="Yes, please" onclick="document.forms[0].submit();">
				   <input type="button" value="No, take me back" onclick="location.href = '/';">
			   </div>
		   </form>
	   </div>
    </body>
</html>
