@import controllers.usermgmt._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logout.css")">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">

<div id="logout">
   <form action="/logout" method="post">
	   <p id="logout-title">
	   Are you sure you want to logout?
	   </p>

	   <div>
		   <input type="submit" value="Yes, please" onclick="document.forms[0].submit();">
		   <input type="button" value="No, take me back" onclick="location.href = '/';">
	   </div>
   </form>
</div>
