html, body {
    margin: 0;
}

* {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #34495E;
}

h1, h2, h3 {
    font-weight: 500;
}

#logo-banner {
    width: 960px;
    margin: 0 auto;
    line-height: 60px;
}

#logo-banner span {
    font-size: 18px;
}

#logo-banner span:first-of-type {
    font-weight: 600;
}

#header-banner {
    background-color: #F9FAFA;
    border: 1px solid rgba(214, 219, 223, 0.8);
    opacity: 0.97;
}

#header-banner h2 {
    width: 960px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 34px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #F9FAFA;
    border-top: 1px solid rgba(214, 219, 223, 0.8);
}

#footer h3 {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 90px;
    font-size: 14px;
    color: #000;
    background: url('../images/logo.png') no-repeat center right;
}