form {
    margin-bottom: 0;
    margin-top: 15px;
}

#login-form {
    background-color: #F9FAFA;
    border: 1px solid rgba(214, 219, 223, 0.8);
    margin: 0px auto;
    width: 380px;
    font-family: "Open Sans", Arial, sans-serif;
}

#login-form p {
    margin: 6px 20px 6px 6px;
    text-align: right;
    font-size: 14px;
    color: #34495E;
}

label {
    text-align: right;
    margin-right: 5px;
    padding-top: 5px;
}

input {
    margin: 0;
    border: 1px solid #d6dbdf;
    width: 250px;
    padding: 8px 4px;
    height: 30px;
    outline: none;
}

input[type=text], input[type=password] {
	box-sizing: border-box;
}

#signin {
    width: inherit;
    outline: none;
    background-color: #ff8200;
    cursor: pointer;
    padding: 6px 12px;
    border: none;
    color: white;
    margin: 10px 0;
}

#login-form .error, #login-form .success  {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-right: 6px;
}

.error {
    background-color: #FF8200
}

.success {
    background: #71B471;
}