html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#logout {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#logout form {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}

#logout form p {
    margin: 3px 0px;
    text-align: center;
    color: #333;
    font-size: 15px;
}

#logout form div {
    width: 60%;
    margin: auto;
}

input[type=button], input[type=submit] {
    width: 47%;
    margin: 1%;
}